
$base-color: blue;
$important-color: darkblue;
$warning-color: #66caee;

$principal-font: 'Poppins', sans-serif;
$secondary-font: 'Lato', sans-serif;

$box-with-shadow: 15px 0px 10px rgba(0, 0, 0, 0.8);