// Variables
// Variables
$base-color: blue;
$important-color: darkblue;
$warning-color: #66caee;

// Cambiamos las fuentes
$principal-font: 'Poppins', sans-serif;
$secondary-font: 'Lato', sans-serif;

// Sombra más fuerte desde el lado derecho
$box-with-shadow: 15px 0px 10px rgba(0, 0, 0, 0.8);