$base-color: red;
$important-color: darkred;
$warning-color: pink;

$principal-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$box-with-shadow: -15px 0px 10px rgba(0, 0, 0, 0.8);
