// Variables globales importadas automáticamente en vite.config.ts sin namespace

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-md;
  line-height: $line-height-base;
  color: $color-text;
  background-color: $color-background;
} 