<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Felipe Pita">
    <title>Layout</title>
    <link rel="stylesheet" href="styles.scss">
  </head>
  <body>
    <header class="container">
      <h4>Lemoncode</h4>
      <nav>
        <div class="option"><span class="text">Home</span></div>
        <div class="option"><span class="text">Blog</span></div>
        <div class="option"><span class="text">Activities</span></div>
        <div class="option"><span class="text">About me</span></div>
      </nav>
    </header>
  </body>
</html>