@use 'base' as *;

body {
  @include flexbox(initial,initial, column);
  background-color: $background-color;
  color: $white-color;
  margin: 0;
  font-family: $font-family-main;

  header {
    @include flexbox(space-between, center);
    background-color: $background-color;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;

    .platform-title {
      font-size: $font-size-large;
    }

    .header-logo {
      @include flexbox(row);
      gap: 12px;
    }

    .header-buttons {
      @include flexbox(row);
      gap: 12px;
      cursor: pointer;

      div {
        font-size: $font-size-medium;
        border-radius: 2px;
        padding: 0.5rem;
        @include hover-effect($hover-bg-color, $hover-text-color);
      }
    }
  }

  main {
    @include flexbox(initial,initial, column);
    gap: 20px;
    padding: 1.5rem;

    #top-text::before {
      content: '5';
      font-size: 22px;
      font-weight: bold;
    }

    .top {
      @include flexbox(space-between, center, row-reverse);
      flex-wrap: wrap;

      .top-item {
        flex: 1 1 200px;
        min-width: 225px;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }

    .first, .second {
      @include flexbox(space-between);
      gap: 4px;
      flex-wrap: wrap;

      .item {
        flex: 1 1 200px;
        transition: flex-grow 0.3s ease;
        min-width: 250px;

        img {
          width: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: transform 0.3s ease;
        }

        &:hover img {
          transform: scale(1.1);
        }

        .first:hover .item:not(:hover) {
          flex-grow: 0.8;
        }
      }
    }
  }

  @include respond-to(medium) {
    header {
      .platform-title {
        display: none;
      }

      .header-buttons {
        font-size: $font-size-large;
      }
    }

    main {
      #top-text::before {
        content: '3';
      }

      .top {
        .top-item:nth-child(1),
        .top-item:nth-child(2) {
          display: none;
        }
      }
    }
  }

  @include respond-to(small) {
    main {
      .top {
        flex-direction: column-reverse;
        align-items: center;
      }

      .first, .second {
        .item:hover img {
          transform: scale(1.05);
        }
      }
    }
  }
}