body {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  color: white;
  margin: 0;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    .platform-title {
      font-size: 24px;
    }
    .header-logo {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .header-buttons {
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      div  {
        font-size: 18px;
        border-radius: 2px;
        padding: 0.5rem;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.5rem;
    #top-text::before {
      content: '5';
      font-size: 22px;
      font-weight: bold;
    }
    .main-title {
      display: flex;
    }
    .top {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-wrap: wrap;
      .top-item {
        flex: 1 1 200px;
        min-width: 225px;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
    .first, .second {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 4px;
      flex-wrap: wrap;
      .item {
        flex: 1 1 200px;
        transition: flex-grow 0.3s ease;
        min-width: 250px;
        img {
          width: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: transform 0.3s ease;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        .first:hover .item:not(:hover) {
          flex-grow: 0.8;
        }
      }
    }
  }
  @media screen and (max-width: 1279px) {
    header {
      .platform-title {
        display: none;
      }
      .header-buttons {
        font-size: 24px;
      }
    }
    main {
      #top-text::before {
        content: '3';
        font-size: 22px;
        font-weight: bold;
      }
      .top {
        .top-item:nth-child(1),
        .top-item:nth-child(2) {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 680px) {
    main {
      .top {
        flex-direction: column-reverse;
        align-items: center;
      }
      .first, .second {
        .item {
          &:hover {
            img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}