<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Felipe Pita">
    <title>Layout</title>
    <link rel="stylesheet" href="styles.scss">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <img src="assets/images/iron-man.jpg" alt="iron-man" />
        <div class="info-container">
          <h5 class="title">Iron Man</h5>
          <span class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </span>
          <div class="date-container">
            <span>Published: </span>
            <span>March 20, 2020</span>
          </div>
        </div>
        <div class="button-container">
          <button>More info</button>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/spiderman.jpg" alt="iron-man" />
        <div class="info-container">
          <h5 class="title">Spiderman</h5>
          <span class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </span>
          <div class="date-container">
            <span>Published: </span>
            <span>March 20, 2020</span>
          </div>
        </div>
        <div class="button-container">
          <button>More info</button>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/hulk.jpg" alt="iron-man" />
        <div class="info-container">
          <h5 class="title">Hulk</h5>
          <span class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </span>
          <div class="date-container">
            <span>Published: </span>
            <span>March 20, 2020</span>
          </div>
        </div>
        <div class="button-container">
          <button>More info</button>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/thor.jpg" alt="iron-man" />
        <div class="info-container">
          <h5 class="title">Thor</h5>
          <span class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </span>
          <div class="date-container">
            <span>Published: </span>
            <span>March 20, 2020</span>
          </div>
        </div>
        <div class="button-container">
          <button>More info</button>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/loki.jpg" alt="iron-man" />
        <div class="info-container">
          <h5 class="title">Loki</h5>
          <span class="text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </span>
          <div class="date-container">
            <span>Published: </span>
            <span>March 20, 2020</span>
          </div>
        </div>
        <div class="button-container">
          <button>More info</button>
        </div>
      </div>
    </div>
  </body>
</html>